{
    "timeout": 10,
    "source": {
        "directories": [
            "Tests",
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
		"ArrayItemRemoval": {
			"ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::PerformAssertions"
			]
		},
		"ArrayOneItem": {
			"ignore": [
				"SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MapTypesToReflectors"
			]
		},
        "BitwiseOr": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::YieldMethodsMatchingThrowable"
            ]
        },
        "Coalesce": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\SprintfExceptionFactory::BadMethodCallException",
                "SignpostMarv\\SprintfExceptionFactory\\SprintfExceptionFactory::RuntimeException"
            ]
        },
        "Foreach_": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::DataProviderInvalidArgumentException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::DataProviderInvalidArgumentExceptionBad",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_Paranoid_DataProviderInvalidArgumentExceptionBad",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderInvalidArgumentException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderTestFactoryMethod",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MapTypesToReflectors",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_Paranoid_DataProviderInvalidArgumentException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::YieldMethodsMatchingThrowable"
            ]
        },
        "FunctionCallRemoval": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderTestFactoryMethod"
            ]
        },
        "Identical": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MapTypesToReflectors"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\SprintfExceptionFactory::Exception",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MapTypesToReflectors"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::DataProviderInvalidArgumentExceptionBad",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MaybeObtainThrowable",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::PerformAssertions"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_Paranoid_DataProviderInvalidArgumentExceptionBad",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_invalid_argument_exception",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_invalid_argument_exception_fails",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_Paranoid_DataProviderInvalidArgumentException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_exception",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::PerformAssertions",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_factory_method"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::PerformAssertions"
            ]
        },
        "PregMatchMatches": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MapTypesToReflectors"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MapTypesToReflectors",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::MaybeObtainThrowable",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::PerformAssertions",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::YieldMethodsMatchingThrowable"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "SignpostMarv\\SprintfExceptionFactory\\SprintfExceptionFactory::BadMethodCallException",
                "SignpostMarv\\SprintfExceptionFactory\\SprintfExceptionFactory::ExpectArgumentIsException",
                "SignpostMarv\\SprintfExceptionFactory\\SprintfExceptionFactory::RuntimeException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::DataProviderInvalidArgumentExceptionBad",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_Paranoid_DataProviderInvalidArgumentExceptionBad",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_invalid_argument_exception_fails",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\InvalidArgumentExceptionTest::test_invalid_argument_exception",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderInvalidArgumentException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::DataProviderTestFactoryMethod",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_Paranoid_DataProviderInvalidArgumentException",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_exception",
                "SignpostMarv\\SprintfExceptionFactory\\Tests\\SprintfExceptionFactoryTest::test_factory_method"
            ]
        }
    }
}
